.DS_Store
test/test
test/clustertest/clustertest
test/clustertest/testplugin/testplugin.so
test/bedrocktest_*
test/br_sync_db*
test/clustertest/cluster_node_?_bedrocktest*
bedrock
.build
libbedrock.a
libstuff.a
sqlitecluster/sqlitecluster
libstuff/libstuff.d
libstuff/libstuff.h.gch
.idea
.clangd
.clang-tidy
.nfs*
.cache
compile_commands.json
.vscode/*
.fuse_hidden*
benchmarks/bench
